__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
*.egg-info/
*.egg
*.log


*.db
*.sqlite3


.venv/
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store
Thumbs.db

temp/
uploads/